<%= form_with(model: [:users_backoffice_user, @carona]) do |form| %>
  <% if @carona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carona.errors.count, "error") %> proibe essa carona de ser salva:</h2>

      <ul>
        <% @carona.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :preco %>
    <%= form.number_field :preco %>
  </div>

  <div class="field">
    <%= form.label :qtd_passageiros %>
    <%= form.number_field :qtd_passageiros %>
  </div>

  <div class="field">
    <%= form.label :date_hour %>
    <%= form.datetime_select :date_hour %>
  </div>

  <div class="field">
    <%= form.check_box :campusUFF? %>
    <%= form.label :campusUFF? %>
  </div>

  <div class="field">
    <%= form.label :departure %>
    <%= form.text_field :departure %>
  </div>

  <div class="field">
    <%= form.label :arrival %>
    <%= form.text_field :arrival %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
