<%= form_with(model: [:users_backoffice_user, @carona]) do |form| %>
  <% if @carona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carona.errors.count, "error") %> proibe essa carona de ser salva:</h2>
      <ul>
        <% @carona.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :preco %>
    <%= form.number_field :preco %>
  </div>

  <div class="field">
    <%= form.label :quantidade_de_passageiros %>
    <%= form.number_field :qtd_passageiros %>
  </div>

  <div class="field">
    <%= form.label :dia_e_hora %>
    <%= form.datetime_select :date_hour %>
  </div>

  <!-- Checkbox que chama -->

  <div class="field">
    <label for="campusCheck">Campus:</label>
    <input type="checkbox" id="campusCheck" onclick="campusClick()">
  </div>

  <div id="primeiro-click" style="display: none">
    <div class="field">
      <%= form.label :partida %>
      <%= form.collection_select :departure, Campu.all, :nome, :nome_was %>
    </div>

    <div>
      <%= form.fields_for :points do |point| %>
        <%= render 'point_fields',  :f => point %>
      <% end %>
      <div>
        <%= link_to_add_association 'Adicionar Parada', form, :points %>
      </div>
    </div>

    <div class="field">
      <%= form.label :chegada %>
      <%= form.text_field :arrival %>
    </div>
  </div>

  <div id="segundo-click"   style="display: none">
    <div class="field">
      <%= form.label :partida %>
      <%= form.text_field :departure %>
    </div>



    <div>
      <%= form.fields_for :points do |point| %>
        <%= render 'point_fields',  :f => point %>
      <% end %>
      <div>
        <%= link_to_add_association 'Adicionar Parada', form, :points %>
      </div>
    </div>


    <div class="field">
      <%= form.label :chegada %>
      <%= form.collection_select :arrival, Campu.all, :nome, :nome_was %>
    </div>
  </div>

<div class="field">
  <%= form.label :comentarios %>
  <%= form.text_field :comments %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>


<script>
  function campusClick() {
      var checkbox = document.getElementById("campusCheck");
      var with_click = document.getElementById("primeiro-click");
      var without_click = document.getElementById("segundo-click")
      if(checkbox.checked === true){
          with_click.style.display = "block";
          without_click.style.display = "none"
      } else {
          with_click.style.display = "none";
          without_click.style.display = "block";
      }
  }
</script>