<%= form_with(model: [:users_backoffice_user, @carona]) do |form| %>
  <% if @carona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carona.errors.count, "error") %> proibe essa carona de ser salva:</h2>
      <ul>
        <% @carona.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :preco %>
    <%= form.number_field :preco %>
  </div>

  <div class="field">
    <%= form.label :quantidade_de_passageiros %>
    <%= form.number_field :qtd_passageiros %>
  </div>

  <div class="field">
    <%= form.label :dia_e_hora %>
    <%= form.datetime_select :date_hour %>
  </div>

  <div class="field">
    <%= form.label :partida %>
    <%= form.text_field :departure %>
  </div>

  <div class="field">
    <%= form.label :chegada %>
    <%= form.text_field :arrival %>
  </div>

  <div class="field">
    <%= form.label :comentarios %>
    <%= form.text_field :comments %>
  </div>

  <h3> Pontos intermediários</h3>

  <div id="points">
    <%= form.fields_for :points do |points| %>
      <div class="field">
        <%= render 'points_fields',  f: points %>
      </div>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Adicionar Parada', form, :points, partial: 'points_fields', render_options: { wrapper: 'bootstrap' } %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
