<%= form_with(model: [:users_backoffice_user, @carona]) do |form| %>
  <% if @carona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carona.errors.count, "error") %> proibe essa carona de ser salva:</h2>
      <ul>
        <% @carona.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-4">
        <%= form.label :dia_e_hora %>
        <%= form.datetime_local_field :date_hour, class: "form-control" %>
    </div>

    <div class="col-sm-2">
      <%= form.label :preco %>
      <%= form.number_field :preco, autocomplete: false, class: "form-control" %>
    </div>

    <div class="col-sm-2">
      <%= form.label :qtd_passageiros %>
      <%= form.number_field :qtd_passageiros , autocomplete: false, class: "form-control"%>
    </div>

    <div class="col">
      <%= form.label :comments %>
      <%= form.text_field :comments, autocomplete: false, class: "form-control" %>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <%= form.label :departure %>
      <%= form.text_field :departure, autocomplete: false, class: "form-control" %>
    </div>

    <div class="col">
      <%= form.label :bairro_departure %>
      <%= form.text_field :bairro_departure, autocomplete: false, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= form.label :arrival %>
      <%= form.text_field :arrival, autocomplete: false, class: "form-control" %>
    </div>

    <div class="col">
      <%= form.label :bairro_arrival %>
      <%= form.text_field :bairro_arrival, autocomplete: false, class: "form-control" %>
    </div>
  </div>

  <div class="row">

    <%= form.fields_for :points do |point| %>
      <%= render 'point_fields',  :f => point %>
    <% end %>
  </div>
  <div>
    <%= link_to_add_association 'Adicionar Parada', form, :points, class: "btn btn-primary"%>
  </div>


  <div class="row">
    <div class="actions ">
      <%= form.submit "Criar carona", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
