<%= form_with(model: [:users_backoffice_user, @carona]) do |form| %>
  <% if @carona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carona.errors.count, "error") %> proibe essa carona de ser salva:</h2>
      <ul>
        <% @carona.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :preco %>
    <%= form.number_field :preco %>
  </div>

  <div class="field">
    <%= form.label :quantidade_de_passageiros %>
    <%= form.number_field :qtd_passageiros %>
  </div>

  <div class="field">
    <%= form.label :dia_e_hora %>
    <%= form.datetime_select :date_hour %>
  </div>

  <div class="field">
    <%= form.label :partida %>
    <%= form.text_field :departure %>
  </div>

  <div class="field">
    <%= form.label :chegada %>
    <%= form.text_field :arrival %>
  </div>

  <div class="field">
    <%= form.label :comentários %>
    <%= form.text_field :comments %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
