<p id="notice"><%= notice %></p>

<h1>Caronas</h1>
<%= link_to 'New Carona', new_users_backoffice_user_carona_path %>
<table id="example" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th>Preço</th>
      <th>Quantidade de passageiros</th>
      <th>Hora e data</th>
      <th>Partida</th>
      <th>Chegada</th>
      <th>Comentários</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @caronas.each do |carona| %>
      <tr>
        <% cookies[:carona_id] = carona.id %>
        <td><%= carona.preco %></td>
        <td><%= carona.qtd_passageiros %></td>
        <td><%= carona.date_hour %></td>
        <td><%= carona.departure %></td>
        <td><%= carona.arrival %></td>
        <%= @points.each do |point| %>
          <td><%= point.address %></td>
        <% end %>
        <td><%= carona.comments %></td>
        <td><%= link_to 'Show', users_backoffice_user_carona_path(current_user,carona) %></td>
        <td><%= link_to 'Edit', edit_users_backoffice_user_carona_path(current_user,carona) %></td>
        <td><%= link_to 'Destroy', users_backoffice_user_carona_destroy_carona_path(current_user,carona), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


