<p id="notice"><%= notice %></p>

<p>
  <strong>Preco:</strong>
  <%= @carona.preco %>
</p>

<p>
  <strong>Quantidade de passageiros:</strong>
  <%= @carona.qtd_passageiros %>
</p>

<p>
  <strong>Date hour:</strong>
  <%= @carona.date_hour %>
</p>

<p>
  <strong>Departure:</strong>
  <%= @carona.departure %>
</p>

<p>
  <strong>Arrival:</strong>
  <%= @carona.arrival %>
</p>

<%= link_to 'Edit', edit_carona_path(@carona) %> |
<%= link_to 'Back', caronas_path %>
