<p id="notice"><%= notice %></p>

<p>
  <strong>Preco:</strong>
  <%= @carona.preco %>
</p>

<p>
  <strong>Quantidade de passageiros:</strong>
  <%= @carona.qtd_passageiros %>
</p>

<p>
  <strong>Date hour:</strong>
  <%= @carona.date_hour %>
</p>

<p>
  <strong>Departure:</strong>
  <%= @carona.departure %>
</p>

<p>
  <strong>Pontos intermediários:</strong>
<% Point.all.where(carona_id: @carona.id).each do |point| %>
  <%= point.address %><br>
<% end %>
</p>

<p>
  <strong>Arrival:</strong>
  <%= @carona.arrival %>
</p>

<%= link_to 'Edit', edit_users_backoffice_user_carona_point_path(logged_user.id,@carona) %> |
<%= link_to 'Back', users_backoffice_user_caronas_path(logged_user.id) %>
