<p id="notice"><%= notice %></p>

<h1>Search Caronas</h1>

<table>
  <thead>
    <tr>
      <th>Partida</th>
      <th>Chegada</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_caronas.each do |search_carona| %>
      <tr>
        <td><%= search_carona.partida %></td>
        <td><%= search_carona.chegada %></td>
        <td><%= search_carona.user_id %></td>
        <td><%= link_to 'Show', search_carona %></td>
        <td><%= link_to 'Edit', edit_search_carona_path(search_carona) %></td>
        <td><%= link_to 'Destroy', search_carona, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search Carona', new_search_carona_path %>
