<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Iduff</strong>
  <%= @user.iduff %>
</p>

<%= link_to 'Edite', edit_admins_backoffice_user_path(@user) %>

<%= link_to 'Volte', admins_backoffice_users_path %>

