<p id="notice"><%= notice %></p>

<p>
  <strong>Partida:</strong>
  <%= @search_carona.partida %>
</p>

<p>
  <strong>Chegada:</strong>
  <%= @search_carona.chegada %>
</p>

<p>
  <strong>User:</strong>
  <%= @search_carona.user_id %>
</p>

<%= link_to 'Edit', edit_users_backoffice_user_search_carona_path(current_user, @search_carona) %> |
<%= link_to 'Back', users_backoffice_user_search_caronas_path(current_user) %>
