<p id="notice"><%= notice %></p>

<h1>Campus</h1>

<table>
  <thead>
    <tr>
      <th>Endereço</th>
      <th>Nome</th>
      <th>Numero</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Cep</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campus.each do |campu| %>
      <tr>
        <td><%= campu.address %></td>
        <td><%= campu.nome %></td>
        <td><%= campu.numero %></td>
        <td><%= campu.bairro %></td>
        <td><%= campu.cidade %></td>
        <td><%= campu.cep %></td>
        <td><%= link_to 'Olhe', admins_backoffice_campu_path(campu) %></td>
        <td><%= link_to 'Edite', edit_admins_backoffice_campu_path(campu) %></td>
        <td><%= link_to 'Destrua', admins_backoffice_campu_path(campu), method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Campu', new_admins_backoffice_campu_path %>
