<p id="notice"><%= notice %></p>
<th><%= button_to 'Novo Campu', new_admins_backoffice_campu_path %></th>
<table id="example" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th>Endereço</th>
      <th>Nome</th>
      <th>Numero</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Cep</th>
      <th>Ativo</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>

    <% @campus.each do |campu| %>
      <tr>
        <td><%= campu.address %></td>
        <td><%= campu.nome %></td>
        <td><%= campu.numero %></td>
        <td><%= campu.bairro %></td>
        <td><%= campu.cidade %></td>
        <td><%= campu.cep %></td>
        <td><%= campu.active %></td>
        <td><%= link_to 'Olhe', admins_backoffice_campu_path(campu) %></td>
        <td><%= link_to 'Edite', edit_admins_backoffice_campu_path(campu) %></td>
        <% if campu.active %>
          <td><%= link_to 'Destrua', admins_backoffice_campu_destroy_campu_path(campu), data: { confirm: 'Tem certeza?' } %></td>
        <% else %>
          <td><%= link_to 'Reative', admins_backoffice_campu_reactive_campu_path(campu), data: { confirm: 'Tem certeza?' } %></td>
          </tr>
        <% end %>
    <% end %>
  </tbody>
  <tfoot>
  <tr>
    <th>Endereço</th>
    <th>Nome</th>
    <th>Numero</th>
    <th>Bairro</th>
    <th>Cidade</th>
    <th>Cep</th>
    <th>Ativo</th>
    <th colspan="3"></th>
  </tr>
  </tfoot>
</table>
