<p>
  <strong>Name:</strong>
  <%= @admin.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>
<p>
  <strong>Iduff</strong>
  <%= @admin.iduff %>
</p>

<%= link_to 'Edite', edit_admins_backoffice_admin_path(@admin) %>

<%= link_to 'Volte', admins_backoffice_admins_path %>