<p>
  <strong>Nome:</strong>
  <%= @admin.nome %>
</p>
<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>
<p>
  <strong>Iduff</strong>
  <%= @admin.iduff %>
</p>
<% if @admin.iduff != logged_user.iduff %>
  <%= link_to 'Edite', edit_admins_backoffice_admin_path(@admin) %>
<% end %>

<%= link_to 'Volte', admins_backoffice_admins_path %>