<p id="notice"><%= notice %></p>

<h1>Caronas</h1>
<%= link_to 'New Carona', new_users_backoffice_user_carona_path %>
<table id="example" class="table table-striped table-bordered" style="width:100%">
  <thead>
  <tr>
    <th>Endereco</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @caronas.each do |point| %>
    <tr>
      <td><%= point.departure %></td>
      <td><%= link_to 'Edit', edit_users_backoffice_user_carona_path(current_user,carona, point) %></td>
      <td><%= link_to 'Destroy', users_backoffice_user_carona_destroy_carona_path(current_user,carona), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>